.page-title {
	font-size: 3.5em;
	writing-mode: vertical-lr;
}

.comunity-main__title {
	font-size: 3.5em;
}

.comunity-main__subtitle {
	font-size: 1.3em;
	margin: 2% 0 0 0;
}

.comunity-main__description {
	font-size: 1.1em;
	margin: 0;
}