.page-title {
	font-size: 4em;
	writing-mode: vertical-lr;
}

.comunity-main__title {
	font-size: 3.5em;
}

.comunity-main__subtitle {
	font-size: 1.3em;
	margin: 2% 0 0 0;
}

.comunity-main__description {
	font-size: 1.1em;
	margin: 0;
}

@media screen and (max-width: 600px) {
	.page-title {
		display: none;
	}

	.comunity-main__title {
		font-size: 2.5em;
	}
	
	.comunity-main__subtitle {
		font-size: 1.2em;
		padding: 5% 0 0 0;
	}
}