.jobs__job-block img {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	border-radius: 4px;
	margin-bottom: 3%;
}

.jobs__job-block img:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.jobs__job-block p, .jobs__job-block h2 {
	margin: 0;
}

.jobs__job-block p:hover, .jobs__job-block h2:hover {
	color: rgb(180, 173, 173);
}

.title-block__title {
	writing-mode: vertical-lr;
	font-size: 4em;
}