.about-main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-template-areas: 'photo-block description-block';
	align-items: center;
	width: 100%;
}

.main__photo-block {
	grid-area: photo-block;
	justify-self: center;
}

.main__description-block {
	grid-area: description-block;
	margin: 0 10% 0 0;
}

@media screen and (max-width: 600px) {
	.about-main {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: 'description-block';
		align-items: flex-start;
		grid-area: main;
	}

	.main__photo-block {
		display: none;
	}

	.main__description-block {
		margin: 0 10% 5% 10%;
	}
}