.comunity-main {
	grid-area: main;
	display: grid;
	grid-template-columns: 1.5fr 1.5fr .2fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'talks contribuition title-page-block';
	align-items: center;
	width: 95%;
	height: 80%;
}

.comunity-main__talks {
	grid-area: talks;
	margin: 0 0 0 5%;
}

.comunity-main__contribuition {
	grid-area: contribuition;
	margin: 0 5%;
}

.comunity-main__title-page-block {
	grid-area: title-page-block;
	display: flex;
	justify-content: flex-end;
}

@media screen and (max-width: 600px) {
	.comunity-main {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas: 'talks' 'contribuition';

	}
}