.contact-main__subtitle, .contact-main__title, .contact-main__mail-link {
	text-align: center;
	margin: 2% 0 0 0;
	padding: 0;
}

.contact-main__title {
	font-size: 6em;
}

.contact-main__subtitle {
	font-size: 2em;
}

.contact-main__mail-link {
	font-size: 1.8em;
	text-decoration: none;
}

.contact-main__mail-link p {
	color: rgb(218, 183, 243);
}

.contact-main__mail-link p:hover {
	color: rgb(133, 101, 155);
}

.contact-main__icon-block {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.contact-main__icon-block__icon {
	margin: 3% 	2%;
}


@media screen and (max-width: 600px) {
	.contact-main__title {
		font-size: 2em;
	}
	
	.contact-main__subtitle {
		font-size: 1.1em;
		margin: 8% 3%;
	}
	
	.contact-main__mail-link {
		font-size: 1em;
	}

	.contact-main__icon-block__icon {
		margin: 3% 	5%;
	}
}