.footer {
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	align-content: flex-end;
	width: 96%;
	height: 100px;
}

.footer__icon {
	margin: 0 2%;
}

@media screen and (max-width: 600px) {
	.footer {
		position: initial;
		bottom: 0;
		justify-content: flex-start;
		align-items: flex-end;
		grid-area: footer;
	}

	.footer__icon {
		margin: 3% 2%;
	}
}