.footer {
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	align-content: flex-end;
	width: 96%;
	height: 100px;
}

.footer__icon {
	margin: 0 2%;
}

@media screen and (max-width: 1024px) {
	.footer {
		position: relative;
		align-items: center;
	}

	.footer-inner-pages__text {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.footer {
		position: relative;
		justify-content: flex-start;
		align-items: flex-end;
		grid-area: footer;
		height: 60px;
	}

	.footer-inner-pages {
		justify-content: center !important;
	}

	.footer__icon {
		margin: 3% 2%;
	}

	.footer-inner-pages__text {
		display: none;
	}
}