.menu__block {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	width: 95%;
}

@media screen and (max-width: 800px) {
	.menu__block {
		justify-content: center;
		text-align: center;
		width: 100%;
		padding: 0;
	}
}