#about {
	background-color:rgb(227, 47, 47);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: 'menu'
												'main'
												'footer';
	height:90vh;
}




